# VS Code gitignore stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# make very sure this beast doesn't get committed
node_modules

# Yarn
yarn-error.log

# Since we're just using npm stuff as tooling, we don't need to commit yarn.lock/package-lock.json
package-lock.json
yarn.lock

.DS_Store